.contentBlock{
    outline: none !important;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    place-items: center;
    
    font-size: large;
    text-align: justify;

    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    max-height: 80%;
    height: 80%;
    min-height: 80%;
    width: 80%;

    border-left: 1px solid lime;
    border-right: 1px solid lime;
}

.contentBlock div{
    height: 100%;
    width: 100%;
}