.button{
    padding: 0.25rem;

    height: 100%;

    color: lime;
    background-color: black;
    border: 1px solid green;

    transition: border 0.2s, background-color 0.2s, font-size 0.5s ease;
}

.button:hover{
    background-color: green;
    color: lime;
    border: 1px solid lime;
    transition: border 0.2s ease;
}