.routerButton {
    padding: 0.25rem;
    position: relative;

    height: calc(100% + 4px);
    min-width: 20dvw;
    max-width: 99%;
    font-weight: 100;
    color: lime;
    background-color: black;
    border: none;
    border-bottom: 2px solid green;
    transition: background-color 0.2s, font-size 0.5s ease;
}

.routerButton:hover {
    color: lime;
    background-color: green;
    border-bottom: 2px solid limegreen;
    font-size: xx-large;
    transition: background-color 0.2s, font-size 0.5s ease;
}

.active {
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    background-color: limegreen;
    border-top: 4px gold;
    border-bottom: 6px green;
    border-style: dashed none solid none ;
    transition: background-color 0.2s, font-size 0.5s ease;
}

.active:hover {

    border-bottom: 6px limegreen;
    border-style: dashed none solid none;
}