.sidebar{
    display: flex;
    flex-direction: column;
    position: sticky;

    height: 75%;
    width: 30dvw;

    color: lime;
    background-color: black;
}

@media screen and (min-width: 800px) and (min-height: 800px){

    .sidebar{
        width: 10dvw;
    }
}