* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

:root {
  height: 100dvh;
  width: 100dvw;

  background-color: rgb(0, 0, 0);
}

body {
  height: auto;
  min-height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

main {
  padding-top: 10dvh;
  position: relative;
  display: grid;

  height: 90dvh;

  justify-items: center;

  color: lime;
}

.post {
  position: static;
  display: flex;
  flex-direction: row;
  height: 85dvh;
  width: 100%;
}

.post main {
  padding-top: unset;
  height: 100%;
  width: 100%;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

@media screen and (min-width: 800px) and (min-height: 800px) {

  main{
    padding-top: unset;
    justify-items: center;
    align-items: center;
  }

  .post {
    height: 90dvh;
  }
}