*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: yellow;
}

:root{
  height: 100dvh;
  width: 100dvw;

  background-color: rgb(0, 0, 0);
}

body{
  height: auto;
  min-height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

main{
  display: flex;
  flex-direction: column;

  height: 100%;
  place-content: center;
  place-items: center;

  color: lime;
}

main.small{
  height:90dvh;
}

.post {
  position: static;
  display: flex;
  flex-direction: row;
  height: 90dvh;
  width: 100%;
}

.post main {
  place-content: unset;
  place-items: unset;
  height: 100%;
  width: 100%;
  border-left: 2px solid green;
}